@charset "utf-8";
@import url('rest.css');
@import url('common.css');


/* .main_visual */
.main_visual{
    height: 100vh;
}
.main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

