@charset "utf-8";
@import url('../css/rest.css');
@import url('../css/common.css');


.sub_visual{
    height: 920px;
    text-align: center;
}
.sub_visual img{
    width: 864px;
    height: 100%;
    object-fit: cover;
}